<h2><%= @artist.name %></h2>

<p>Description: <%= @artist.description %></p>
<%= link_to @artist.website %>
<%= image_tag @artist.image_url %>

<hr>

<%= link_to "Edit",
edit_artist_path(@artist.id) %>
<%= link_to "Delete", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@artist.name}?" }%>
